{% extends "layout.html" %}

{% block content %}
<h1>Guarderías</h1>
<a href="{{ url_for('nursery.create') }}" class="button-create">Crear Nueva Guardería</a>
<table class="styled-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for nursery in nurseries %}
        <tr>
            <td>{{ nursery.name }}</td>
            <td>{{ nursery.direction }}</td>
            <td>{{ nursery.phone }}</td>
            <td>
                <form action="{{ url_for('nursery.edit', id=nursery.id) }}" method="GET" style="display:inline;">
                    <button type="submit" class="button-edit">Editar</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('nursery.delete', id=nursery.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="button-delete">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('user.admin_dashboard') }}" class="button-back">Volver</a>
{% endblock %}
