{% extends "layout.html" %}

{% block content %}
<h1>Detalles de la guardería 'La Favorita'</h1>

<h2>Guardería</h2>
<p>ID: {{ nursery.id }}</p>
<p>Nombre: {{ nursery.name }}</p>
<p>Dirección: {{ nursery.direction }}</p>
<p>Teléfono: {{ nursery.phone }}</p>

<h2>Cuidadores</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        {% for caretaker in caretakers %}
        <tr>
            <td>{{caretaker.id}}</td>
            <td>{{caretaker.name}}</td>
            <td>{{caretaker.phone}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Perros</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th>Nombre Mascota</th>
            <th>Raza Mascota</th>
            <th>Edad Mascota</th>
            <th>Peso Mascota</th>
        </tr>
    </thead>
    <tbody>
        {% for dog in dogs %}
        <tr>
            <td>{{dog.name}}</td>
            <td>{{dog.race}}</td>
            <td>{{dog.age}}</td>
            <td>{{dog.weight}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('user.admin_dashboard') }}" class="button-back">Volver</a>
{% endblock %}
