{% extends "layout.html" %}

{% block content %}
<h1>Login</h1>
<form method="POST" action="{{ url_for('user.login') }}">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<a href="{{ url_for('index') }}" class="button-back">Volver</a>
{% endblock %}
